{% extends "base.html" %}
{% load static %}

{% block title %}
    Home | Nelfix Film
{% endblock title %}

{% block contents %}
    <!-- Navbar -->
    <nav class="bg-gray-800 p-4 mb-6">
        <div class="container mx-auto flex justify-between items-center">
            <!-- Bagian kiri -->
            <div class="flex items-center space-x-4">
                <a href="{% url 'film:home' %}" class="text-red-600 text-xl font-bold">Nelfix</a>
                <a href="{% url 'film:home' %}" class="text-white hover:text-gray-400">Home</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'user:profile' %}" class="text-white hover:text-gray-400">Profile</a>
                    <a href="{% url 'film:my_list' %}" class="text-white hover:text-gray-400">My List</a>
                {% endif %}
            </div>
            
            <!-- Search bar di tengah -->
            <div class="flex-grow mx-4">
                <form method="GET" action="{% url 'film:home' %}" class="flex justify-center">
                    <input type="text" name="q" placeholder="Search films..." class="text-white bg-gray-700 rounded-full px-4 py-2 w-96 focus:outline-none">
                </form>
            </div>
            
            <!-- Bagian kanan -->
            <div class="flex items-center space-x-4">
                {% if user.is_authenticated %}
                    <span class="text-white">
                        Hello, {{ user.username }} | 🪙 {{ user.profile.balance }}
                    </span>
                    <form method="POST" action="{% url 'user:logout' %}" class="inline">
                        {% csrf_token %}
                        <button type="submit" class="bg-red-500 text-white py-2 px-4 rounded hover:bg-red-700">
                            Logout
                        </button>
                    </form>
                {% else %}
                    <a href="{% url 'user:login' %}" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700">
                        Login / Sign Up
                    </a>
                {% endif %}
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <h1 class="text-3xl font-bold mb-6">Browse Films</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mx-3">
        {% for film in films %}
            <a href="{% url 'film:film_detail' film.id %}" class="bg-white shadow-lg rounded-lg overflow-hidden transform hover:scale-105 transition-transform duration-300">
                <div class="group relative bg-gray-800 text-white p-4 rounded-lg shadow-lg hover:scale-105 transition-transform duration-300">
                    {% if film.cover_image %}
                        <img src="{{ film.cover_image.url }}" alt="{{ film.title }}" class="w-full h-48 object-cover rounded-lg">
                    {% else %}
                        <div class="w-full h-48 bg-gray-500 rounded-lg flex items-center justify-center">
                            <span class="text-white text-lg font-semibold">No Image</span>
                        </div>
                    {% endif %}
                    <div class="mt-4">
                        <h2 class="text-lg font-semibold">{{ film.title }} ({{ film.release_year }})</h2>
                        <div class="flex space-x-2 mt-2">
                            {% for genre in film.genre %}
                                <span class="bg-gray-600 text-sm rounded-full px-2 py-1">{{ genre }}</span>
                            {% endfor %}
                        </div>
                        <p class="mt-2 text-sm text-gray-400 group-hover:opacity-0 transition-opacity duration-300">Directed by: {{ film.director }}</p>
                        {% if not film in user.profile.films.all %}
                        <div class="absolute inset-0 bg-gray-900 bg-opacity-75 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                            <p class="text-lg font-semibold">{{ film.price }}🪙</p>
                            <p class="mt-2 text-sm text-green-400">Buy Now</p>
                        </div>
                        {% else %}
                        <div class="absolute inset-0 bg-gray-900 bg-opacity-75 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                            <p class="text-lg font-semibold">See Details</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </a>
        {% empty %}
            <p>No films available.</p>
        {% endfor %}
    </div>
    


    {% comment %} <div class="mt-6">
        <div class="flex justify-center">
            {% comment %} <div class="pagination">
                <span class="mr-2">
                    {% if page_obj.has_previous %}
                        <a href="?page=1" class="text-blue-500 hover:underline">&laquo; First</a>
                        <a href="?page={{ page_obj.previous_page_number }}" class="text-blue-500 hover:underline">&lsaquo; Previous</a>
                    {% endif %}
                </span>
                <span class="mr-2">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
                <span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="text-blue-500 hover:underline">Next &rsaquo;</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}" class="text-blue-500 hover:underline">Last &raquo;</a>
                    {% endif %}
                </span>
            </div> {% endcomment %}

            <!-- BATASSS  -->
            {% comment %}
            <div class="pagination">
                <ul class="flex justify-center">
                    {% if films.has_previous %}
                        <li>
                            <a href="?page={{ films.previous_page_number }}{% if query %}&q={{ query }}{% endif %}" class="p-2 bg-gray-300 hover:bg-gray-400">Previous</a>
                        </li>
                    {% endif %}
                    
                    {% for page_num in films.paginator.page_range %}
                        <li>
                            <a href="?page={{ page_num }}{% if query %}&q={{ query }}{% endif %}" class="p-2 {{ films.number == page_num|yesno:'bg-blue-500 text-white,bg-gray-300 hover:bg-gray-400' }}">{{ page_num }}</a>
                        </li>
                    {% endfor %}
                    
                    {% if films.has_next %}
                        <li>
                            <a href="?page={{ films.next_page_number }}{% if query %}&q={{ query }}{% endif %}" class="p-2 bg-gray-300 hover:bg-gray-400">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div> {% endcomment %}


    <div class="mt-6">
        <div class="flex justify-center">
            <div class="pagination">
                <ul class="flex">
                    {% if page_obj.has_previous %}
                        <li>
                            <a href="?page={{ page_obj.previous_page_number }}{% if query %}&q={{ query }}{% endif %}" class="p-2 bg-gray-300 hover:bg-gray-400">Previous</a>
                        </li>
                    {% endif %}
                    
                    {% for page_num in page_obj.paginator.page_range %}
                        <li>
                            <a href="?page={{ page_num }}{% if query %}&q={{ query }}{% endif %}" class="p-2 {% if page_obj.number == page_num %}bg-blue-500 text-white{% else %}bg-gray-300 hover:bg-gray-400{% endif %}">{{ page_num }}</a>
                        </li>
                    {% endfor %}
                    
                    {% if page_obj.has_next %}
                        <li>
                            <a href="?page={{ page_obj.next_page_number }}{% if query %}&q={{ query }}{% endif %}" class="p-2 bg-gray-300 hover:bg-gray-400">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div> 

    <script>
        const navbarToggle = document.getElementById('navbar-toggle');
        const navbarMenu = document.getElementById('navbar-menu');
    
        navbarToggle.addEventListener('click', () => {
            navbarMenu.classList.toggle('hidden');
        });
    </script>
    <!-- TERAKHIR AMAN -->







    


    {% comment %} <nav class="bg-gray-800 p-4 mb-6">
        <div class="container mx-auto flex flex-wrap justify-between items-center">
            <div class="flex items-center">
                <a href="{% url 'film:home' %}" class="text-white text-xl font-bold mr-6">Nelfix</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'user:profile' %}" class="text-white mr-4 hover:text-gray-300">
                        Profile
                    </a>
                    <a href="{% url 'film:my_list' %}" class="text-white hover:text-gray-300">
                        My List
                    </a>
                {% endif %}
            </div>

            <form method="GET" action="{% url 'film:home' %}" class="flex-grow mx-8">
                <input type="text" name="q" placeholder="Search films..." class="w-full bg-gray-700 text-white px-4 py-2 rounded-l">
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-r">Search</button>
            </form>

            <div>
                {% if user.is_authenticated %}
                    <span class="text-white mr-4">
                        {{user.username}} | 🪙 {{ user.profile.balance }}
                    </span>
                    <form method="POST" action="{% url 'user:logout' %}" class="inline">
                        {% csrf_token %}
                        <button type="submit" class="bg-red-500 text-white py-2 px-4 rounded hover:bg-red-700">
                            Logout
                        </button>
                    </form>
                {% else %}
                    <a href="{% url 'user:login' %}" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700">
                        Login / Sign Up
                    </a>
                {% endif %}
            </div>
            
            {% comment %} <div class="flex md:hidden">
                <button id="navbar-toggle" class="text-white focus:outline-none">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
            </div>
            
            <div id="navbar-menu" class="hidden w-full md:flex md:items-center md:w-auto">
                <form method="GET" action="{% url 'film:home' %}" class="flex w-full md:w-auto">
                    <input type="text" name="q" placeholder="Search films..." class="bg-gray-700 text-white px-4 py-2 rounded-l w-full md:w-auto">
                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-r">Search</button>
                </form>
                <div class="ml-4 mt-4 md:mt-0">
                    {% if user.is_authenticated %}
                        <span class="text-white mr-4">
                            Hello, {{ user.username }} | 🪙 {{ user.profile.balance }}
                        </span>
                        <a href="{% url 'user:profile' %}" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700">
                            Profile
                        </a>
                        <form method="POST" action="{% url 'user:logout' %}" class="inline">
                            {% csrf_token %}
                            <button type="submit" class="bg-red-500 text-white py-2 px-4 rounded hover:bg-red-700">
                                Logout
                            </button>
                        </form>
                    {% else %}
                        <a href="{% url 'user:login' %}" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700">
                            Login / Sign Up
                        </a>
                    {% endif %}
                </div>
            </div> {% endcomment %}
        {% comment %} </div>
    </nav> {% endcomment %}

    {% comment %} <nav class="bg-gray-800 p-4 mb-6">
        <div class="container mx-auto flex justify-between items-center">
            <a href="{% url 'film:home' %}" class="text-white text-xl font-bold">Nelfix</a>
            <div class="flex space-x-4">
                <a href="{% url 'user:profile' %}" class="text-white">Profile</a>
                <a href="{% url 'film:my_list' %}" class="text-white">My List</a>
            </div>
            <form method="get" id="searchForm">
                <input id="searchInput" type="text" name="query" value="{{ query }}" placeholder="Search films..." class="px-4 py-2 rounded-lg">
            </form>
            <div>
                {% if user.is_authenticated %}
                    <span class="text-white mr-4">
                        Hello, {{ user.username }} | 🪙 {{ user.profile.balance }}
                    </span>
                    <form method="POST" action="{% url 'user:logout' %}" class="inline">
                        {% csrf_token %}
                        <button type="submit" class="bg-red-500 text-white py-2 px-4 rounded hover:bg-red-700">
                            Logout
                        </button>
                    </form>
                {% else %}
                    <a href="{% url 'user:login' %}" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700">
                        Login / Sign Up
                    </a>
                {% endif %}
            </div>
        </div>
    </nav> {% endcomment %}




    

    

    {% comment %} <div class="container mx-auto" id="films-container">
        <h1 class="text-3xl font-bold mb-6">Browse Films</h1>
        <div id="films-grid" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            {% for film in films %}
                <a href="{% url 'film:film_detail' film.id %}">
                    <div class="bg-white p-4 rounded-lg shadow-md">
                        <img src="{% static film.cover_image_url %}" alt="{{ film.title }}" class="mb-4 w-full h-48 object-cover rounded-lg">
                        <h2 class="text-lg font-bold">{{ film.title }}</h2>
                        <p class="mt-2 text-sm">{{ film.release_year }}</p>
                        <p class="text-sm">{{ film.description|truncatewords:20 }}</p>
                        <p class="mt-2 text-green-600">Already purchased</p>
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="mt-4">
            <nav class="flex justify-center">
                <div class="pagination">
                    <span class="mr-2">
                        {% if page_obj.has_previous %}
                            <a href="?page=1" class="text-blue-500 hover:underline">&laquo; First</a>
                            <a href="?page={{ page_obj.previous_page_number }}" class="text-blue-500 hover:underline">&lsaquo; Previous</a>
                        {% endif %}
                    </span>
                    <span class="mr-2">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>
                    <span>
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" class="text-blue-500 hover:underline">Next &rsaquo;</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}" class="text-blue-500 hover:underline">Last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </nav>
        </div>
    </div> {% endcomment %}


    {% comment %} <section id="filmContainer" class="container mx-auto mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {% for film in films %}
            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <img src="{% static film.cover_image_url %}" alt="{{ film.title }}" class="w-full h-48 object-cover">
                <div class="p-4">
                    <h3 class="text-lg font-semibold">{{ film.title }}</h3>
                    <p>{{ film.director }}</p>
                    <p class="mt-2">{{ film.description|truncatewords:20 }}</p>
                    <p class="{% if film in user.profile.films.all %}text-green-500{% else %}text-red-500{% endif %}">
                        {% if film in user.profile.films.all %}Already purchased{% else %}Not purchased{% endif %}
                    </p>
                </div>
            </div>
        {% endfor %}
    </section> {% endcomment %}

    {% comment %} <div id="filmContainer">
        {% for film in films %}
            <div>
                <!-- Tampilan film -->
                <h3>{{ film.title }}</h3>
                <p>{{ film.director }}</p>
                <!-- Gambar, Deskripsi, dll. -->
            </div> 
            <a href="{% url 'film:film_detail' film.id %}" class="bg-white shadow-lg rounded-lg overflow-hidden transform hover:scale-105 transition-transform duration-300">
                <img src="{% static film.cover_image_url %}" alt="{{ film.title }}" class="w-full h-48 object-cover">
                <div class="p-4">
                    <h2 class="text-xl font-bold mb-2">{{ film.title }}</h2>
                    <p class="text-gray-600">{{ film.release_year }}</p>
                    <p class="mt-2">{{ film.description|truncatewords:20 }}</p>
                    <div class="mt-4">
                        {% if user.is_authenticated %}
                            {% if film in user.profile.films.all %}
                                <p class="text-green-500 font-semibold">Already purchased</p>
                            {% else %}
                                <p class="text-red-600 font-bold">Not Purchased</p>
                            {% endif %}
                        {% else %}
                            <p class="text-red-600 font-bold">Not Purchased</p>
                        {% endif %}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

    <!-- Pagination -->
    <div>
        {% if is_paginated %}
            <div>
                {% if page_obj.has_previous %}
                    <a href="?query={{ query }}&page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
    
                <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    
                {% if page_obj.has_next %}
                    <a href="?query={{ query }}&page={{ page_obj.next_page_number }}">Next</a>
                {% endif %}
            </div>
        {% endif %}
    </div> {% endcomment %}

    {% comment %} <script>
        document.getElementById('search-input').addEventListener('input', function() {
            const filter = this.value.toLowerCase();
            const filmCards = document.querySelectorAll('#filmContainer > div');

            console.log(filter);
    
            filmCards.forEach(card => {
                const title = card.querySelector('h3').textContent.toLowerCase();
                const director = card.querySelector('p').textContent.toLowerCase();
    
                if (title.includes(filter) || director.includes(filter)) {
                    card.style.display = 'block';
                } else {
                    card.style.display = 'none';
                }
            });
    
            // Show all films if search bar is empty
            if (!filter) {
                filmCards.forEach(card => card.style.display = 'block');
            }
        });
    </script> {% endcomment %}

    {% comment %} <script>
        document.getElementById('searchInput').addEventListener('input', function() {
            const query = this.value;
            const url = new URL(window.location.href);
            url.searchParams.set('query', query);
        
            fetch(url)
                .then(response => response.text())
                .then(html => {
                    const parser = new DOMParser();
                    const doc = parser.parseFromString(html, 'text/html');
                    const filmContainer = document.getElementById('filmContainer');
                    const pagination = doc.querySelector('div.pagination');
        
                    filmContainer.innerHTML = doc.getElementById('filmContainer').innerHTML;
        
                    // Replace pagination if present
                    if (pagination) {
                        document.querySelector('div.pagination').innerHTML = pagination.innerHTML;
                    }
                });
        });
    </script> {% endcomment %}

    {% comment %} <nav class="bg-gray-800 p-4 flex items-center justify-between">
        <div class="flex items-center">
            <span class="text-white font-bold text-xl">Nelfix</span>
            <a href="{% url 'profile' %}" class="ml-6 text-white">Profile</a>
            <a href="{% url 'my_list' %}" class="ml-4 text-white">My List</a>
        </div>
        <div class="relative">
            <input id="search-bar" type="text" class="rounded-full px-4 py-2 w-96 focus:outline-none" placeholder="Search films...">
        </div>
    </nav>
    
    <div id="film-list" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-6">
        <!-- Films will be injected here via JavaScript -->
    </div>
    
    <div id="pagination" class="mt-4 flex justify-center">
        <!-- Pagination controls will be here -->
    </div> {% endcomment %}


    <!-- PERCOBAAN GPT -->
    {% comment %} <nav class="bg-gray-800 p-4 flex items-center justify-between">
        <div class="flex items-center">
            <span class="text-white font-bold text-xl">Nelfix</span>
            <a href="{% url 'user:profile' %}" class="ml-6 text-white">Profile</a>
            <a href="{% url 'film:my_list' %}" class="ml-4 text-white">My List</a>
        </div>
        <div class="relative">
            <input id="search-bar" type="text" class="rounded-full px-4 py-2 w-96 focus:outline-none" placeholder="Search films...">
        </div>
    </nav>
    
    <div id="film-list" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-6">
        {% for film in films %}
        <div class="film-card rounded overflow-hidden shadow-lg bg-white" data-url="{% static film.cover_image_url %}">
            <img class="w-full" src="{% static film.cover_image_url %}" alt="{{ film.title }}">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">{{ film.title }}</div>
                <p class="text-gray-700 text-base">{{ film.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <div id="pagination" class="mt-4 flex justify-center">
        <!-- Pagination controls will be here -->
    </div>

    <script>
        const searchBar = document.getElementById('search-bar');
        const filmList = document.getElementById('film-list');
        const pagination = document.getElementById('pagination');
        let currentPage = 1;

        // Initial load: display all films
        fetchFilms('', 1);

        searchBar.addEventListener('input', function () {
            fetchFilms(searchBar.value, 1);
        });

        function fetchFilms(query, page) {
            fetch(`/search/?q=${query}&page=${page}`)
                .then(response => response.json())
                .then(data => {
                    displayFilms(data.films);
                    updatePagination(data.total_pages, data.current_page);
                })
                .catch(error => console.error('Error:', error));
        }

        function displayFilms(films) {
            filmList.innerHTML = '';
            films.forEach(film => {
                const filmCard = document.createElement('div');
                filmCard.className = 'rounded overflow-hidden shadow-lg bg-white';
                filmCard.innerHTML = `
                    <img class="w-full" src="${static film.cover_image_url}" alt="${film.title}">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2">${film.title}</div>
                        <p class="text-gray-700 text-base">${film.description}</p>
                    </div>`;
                filmList.appendChild(filmCard);
                
            });
        }

        function updatePagination(totalPages, currentPage) {
            pagination.innerHTML = '';
            for (let i = 1; i <= totalPages; i++) {
                const pageLink = document.createElement('button');
                pageLink.className = `mx-1 px-3 py-1 ${i === currentPage ? 'bg-blue-500 text-white' : 'bg-gray-300'}`;
                pageLink.textContent = i;
                pageLink.addEventListener('click', () => fetchFilms(searchBar.value, i));
                pagination.appendChild(pageLink);
            }
        }
    </script> {% endcomment %}
    
{% endblock contents %}